@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #21B66F;
}
.chronometre{
background-color: white;
padding: 10px;
border-radius: 6px;
width: 400px;
text-align: center;
}
.tim{
margin: auto;
width: 100%;
border: 1px solid #999;
border-radius: 6px;
padding: 5px 0;
text-align: center;
font-size: 35px;
font-weight: 400;
margin-bottom: 10px;

}

.tim span{
  font-family: "Dancing Script", serif ,cursive;
  padding: 5px;
}
.control{
display: flex;
justify-content: space-between;
width: 100%;
}

button{
  background-color: #1d9c5e;
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 31%;
  border: 0;
  letter-spacing: 1px;
  transition: 0.5s ease;
  cursor: pointer;
  
}
button:hover{
  /* opacity: 0.8; */
  filter: brightness(77%);
  transform: scale(1.1);
}
button:active{
   opacity: 0.5;
   transform: scale(0.9);
}